@font-face {
    font-family: 'webfontbold';
    src: url('font/nevis-webfont.woff2') format('woff2'),
         url('font/nevis-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

body {
	margin:0px;
	padding: 0px;
	background-color:#2A5B6C ;
	background-image: radial-gradient(farthest-side at 58% 35%, white, #2A5B6C, black);
}

#header-widget {
	padding-top: 10px;
	padding-bottom: 10px;
}

.today-img {
	background-color: rgba(150,0,150,0.2);
	margin: 0 auto;
	z-index: 999;
}

.left-widget {
	margin: 0 auto;
}

.today-temp {
	background-color: rgba(150,150,150,0.2);
	font-size: 60px;
	color: #fff;
	font-family: webfontbold;
}

.limit-temp {
	width: 200px;
}

.blue {
	color: #0000ff;
}

.red {
	color: #ff0000;
}
.widget-box {
	margin-left: 5px;
	margin-right: 5px;
	background-color: rgba(20,20,20,0.2);
	width: 350px;
	height: 200px;
	color: #fff;

}